html{
  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
}
.mobile-ci.home-widget.widget-container {
    .widget-title {
      color: @theme-main-complimentary-2;
      //background-color: @theme-main;
      //font-size: 3vw;
      font-size: 2.2rem;
      overflow: hidden;
      div {
        //width:500px;
      }
      &.widget-subtitle{
        //font-size:2.5vw;
        font-size:1rem;
      }
    }
    .widget-single {
      background-color: #fff;
      height:160px;
      .top-container, .bottom-container {
        text-align: center;
      }
      .top-container, .bottom-container, .left-arrow, .right-arrow {
        color: darken(@theme-main-gray, 10%);
        font-size: 1.5em;
      }
      .middle-container {
        width: 100%;
        overflow: auto;
        padding: 0 7px;
        .left-arrow {
          width: 10%;
          float: left;
          text-align: left;
        }
        .widget-content-container {
          width: 80%;
          text-align: center;
          float: left;
          margin: 0 auto;
          position: relative;
          .widget-content {

          }
        }
        .right-arrow {
          width: 10%;
          float: right;
          text-align: right;
        }
        .left-arrow, .right-arrow {
          position: relative;
          top: 50%;
          transform: translateY(250%);
        }
      }
      .bottom-container {}
    }
    .widget-single.animate-horizontal {
      padding: .5em 0;
    }
    .widget-single.animate-vertical {
      padding: 0 .5em;
    }
}
.merchant-logo{
  margin-top:20px;
  img{
    max-width:120px;
    width:100%;
  }
}
.rslides_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 16px;
  opacity: 0.2;
  // text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -10px;
  padding: 2px 8px;
  color: #fff;
  font-size: 21px;
}

.rslides_nav:active {

}

.rslides_nav.next {
  left: auto;
  padding: 2px 14px;
  background-position: right top;
  right: 16px;
}
.widget-slogan{
  color:#fff;
  position:absolute;
  bottom:0;
  background:rgba(0,0,0,.8);
  z-index:9999;
  font-size:2.5vw;
  padding:4px;
  display: block;
  width:80%;
}
.rslides li{
  position: relative;
}
.rslides li a img.vcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.member-card{
  position: relative;
  width:100%;

  h2{
    position:absolute;
    bottom:14px;
    left:4%;
    width:100%;
    font-size:14px;

    span{
      color: #000;
      letter-spacing: -1px;
      padding: 10px;
    }
  }
  .spacery{
    padding:0 5px;
  }
}

.no-member-card{
  h3{
    color:@theme-main-complimentary;
  }
}

i.disableds{
  color:#aeaeae;
}

.circlet i.disableds{
  color:#aeaeae;
}

.mobile-ci.ci-header.header-container .buttons-list>li a.disableds {
  color:#aeaeae;
}

.list-vignette{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.list-vignette-non-tenant{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.20) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 20%,rgba(0,0,0,0.20) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.20) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.widget-info{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  color:#fff;
  padding:0 12px 8px 12px;
  z-index:1;
}

.img-fit{
  width:100%;
  height:160px;
  object-fit:cover;
}

.widget-new-badge{
  font-size: 1em;
  position: absolute;
  top: .25em;
  right: .25em;
  font-family: sans-serif;
  &:before{
    content:'';
    right:6px; top:0px;
    width:32px; height:32px;
    position:absolute;
    pointer-events:none;
    display:block;

    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgb(255, 0, 0);
    border: 1px solid #FFF;
    z-index: 0;
  }
  .new-number{
    right:6px;
    top:1px;
    width:32px;
    height:32px;
    position:absolute;
    font-size:1.2em;
    z-index:1;
    color: #fff;
    text-align:center;
  }
  .new-number-label{
    right:6px;
    top:15px;
    width:32px;
    height:32px;
    position:absolute;
    font-size:.75em;
    z-index:1;
    color: #fff;
    text-align:center;
  }
}

.color-base {
   color: #fff;
}

.color-icon {
   color: #000;
}

.color-badge {
   color: #ff0000;
}

.couponbadge-container {
   top : 20px;
   right: 25px;
   position: absolute;
   background-color: #fff;
}

.couponbadge-small {
    font-size: 1.65em;
}

.couponbadge-medium {
    font-size:0.9em;
}

.couponbadge-ticket-small {
    font-size: 1.25em;
}

.couponbadge-shadow {
   border-radius:100%;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
   -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
   -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
   -o-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.couponbadge {
   top : -15%;
   left: 40%;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:-40%;
  top:-5%;
  content: attr(data-count);
  font-size:66%;
  padding:0.5em;
  line-height:0.75em;
  color: white;
  text-align:center;
  font-weight:bold;
  width : 100%;
}

.new-coupon-badge .inner-badge {
   position: absolute;
   top : -15px;
   font-size: 0.75em;
   color : #ff0000;
   right: -25px;
}

.new-coupon-badge .new-number {
    right : 10px;
    top:6px;
    width:auto;
    height:auto;
    position:absolute;
    font-size:0.22em;
    color: #fff;
    text-align:center;
}

.coupon-new-badge{
  right: 6px;
  top: 1px;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 1em;
  z-index: 1;
  color: #fff;
  text-align: center;
  .new-number{
    right:6px;
    top:1px;
    width:auto;
    height:auto;
    position:absolute;
    font-size:1em;
    z-index:1;
    color: #fff;
    text-align:center;
    background: #ff0000;
    border-radius: 32px;
    padding: 0px 7px;
    margin-top: 10px;
  }
  .new-number-label{
    right:6px;
    top:15px;
    width:32px;
    height:32px;
    position:absolute;
    font-size:.75em;
    z-index:1;
    color: #fff;
    text-align:center;
  }
}
.sign-in-popup{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow-y: scroll;
    display: none;
    z-index:1005;
}
.campaign-cards-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow-y: scroll;
    display: none;
    z-index:1001;
    #campaign-cards li {
        background: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        h4{
          height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img{
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            width: 100%;
            height: 270px;
            object-fit: cover;
        }
    }
    .lSSlideOuter {
        .lSPager.lSpg>li {
            a{
                border-radius: 6px;
            }
            &.active {
                a {
                    background-color: @theme-main-complimentary;
                }
            }
            &:hover{
                a {
                    background-color: @theme-main-complimentary;
                }
            }
        }
    }
    .campaign-cards-close-btn{
        position: absolute;
        z-index: 1;
        right: 12px;
        top: 24px;
        &.search-close-btn{
          width: 90%;
          margin-left: 5%;
        }
        #campaign-cards-close-btn{
          text-shadow: 0px 1px 2px #444;
        }
        #search-close-btn{
          text-shadow: 0px 1px 2px #444;
        }
    }
}
.sign-in-popup-wrapper{
    background: #fff;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 99999;
    width: 90%;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    img{
        max-width: 50%;
    }
}
.campaign-cards-wrapper{
    position: fixed;
    top: 0px;
    left: 5%;
    z-index: 99999;
    width: 90%;
    height:100%;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow-y: scroll;
    display: none;
    z-index:1002;
    .search-wrapper{
      padding-top: 20px;
    }
    .campaign-cards-close-btn{
        &.search-close-btn{
          width: 90%;
          margin-left: 5%;
        }
        #campaign-cards-close-btn{
          text-shadow: 0px 1px 2px #444;
        }
        #search-close-btn{
          text-shadow: 0px 1px 2px #444;
        }
    }
}
.back-drop{
    display: none;
    position: fixed;
    background: rgba(0,0,0,.5);
    z-index: 999;
    top: 0;
    height: 100%;
    width: 100%;
    &.campaign-cards-back-drop{
        z-index: 1000;
    }
    &.search-back-drop{
        z-index: 1001;
        background: rgba(0,0,0,.8);
    }
    &.sign-in-back-drop{
        z-index: 1004;
        background: rgba(0,0,0,.8);
    }
}
.search-box{
  border-bottom: 2px solid #f2f2f2;
  padding: 0px 12px;
  color:#fff;
  width: 90%;
  margin-left: 5%;
  font-size: 1.3em;
  span{
    margin-top: 5px;
  }
  .search-type{
    border:none;
    background: transparent;
    outline:none;
    padding:4px 2px;
    color:#fff;
  }
}
.search-results{
  color: #fff;
  width: 90%;
  margin-left: 5%;
  ul{
    margin:0;
    padding:0;
    .search-result-group{
      display:-webkit-flex;
      display:flex;
      margin-bottom: 6px;
      list-style: none;
      a{
        color:#fff;
        display: inline-block;
        width: 100%;
      }
      h5{
        margin-top:0px;
        height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 17px;
      }
      p{
        height:20px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
      }
      img{
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 24px;
        background: #fff;
      }
      .col-xs-10{
        padding-left:10px;
      }
      &.hide{
        display:none;
      }
    }
  }
}
.search-top{
    display: none;
    position: fixed;
    width: 98%;
    top: 10px;
    margin-left: 1%;
}
.search-bottom{
  top: 86px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
#search-loader{
  position:fixed;
  top:50%;
  left: 50%;
  margin-left: -28px;
}
#show_all_result,#show_by_categories{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 0px;
    color: #fff;
}
.campaign-cards-info{
    background: #fff;
    padding: 10px;
    margin-top: 0px;
    -webkit-box-shadow: 0px -25px 91px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px -25px 91px -6px rgba(0,0,0,0.4);
    box-shadow: 0px -25px 91px -6px rgba(0,0,0,0.4);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.campaign-cards-info p{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

.container.pokestop {
    background-color: #08406B;
}

.pokestop a.widget-link {
    display: block;
    text-align: center;
}

span {
  &.zoom-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px 10px;
    background-color: #111;
    border-radius: 3px;
    color: #fff;
    opacity: 0.6;
  }
}

ul.legends {
  > li {
    padding-top: 5px;
  }

  .legend {
    > img {
      width: 20px;
    }
  }
}