.top-space {
    margin-top: 4em;
}

.vertically-spaced {
    margin: 1em 0;
}

.vertically-spaced-3 {
    margin: 3em 0;
}

.greetings {
    font-size: 20px;
    font-style: italic;
    color: @theme-main;
}

.btn-info {
    background: @theme-main-complimentary;
    //border: 0px;
    border-color: @theme-main-complimentary;
    &:hover {
        background: @theme-main;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
}

body.bg {
    background: url('../images/skelatal_weave.png');
}

footer {
    margin-top: 6px;
    margin-bottom: 20px;
    width: 100%;
    img.orbit-footer {
        width: 50%;
        max-width: 170px;
    }
}

.welcome-user {
    h3 {
        font-size: 18px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
}

#notMe {
    cursor: pointer;
}

footer {
    img {
        &.orbit-footer {
            max-width: 80px;
            margin: 0 auto 10px auto;
        }
    }
}

#signIn {
    img {
        max-width: 240px;
        width: 100%;
    }
}

#signedIn {
    img {
        max-width: 240px;
        width: 100%;
    }
}

.offline {
    .globe {
        top: -4px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.header-signin {
    background-color: #fcfcfc;
    height: 50px;
    .header-logo {
        width: auto;
        padding: 8px 0;
        height: 48px;
    }
}

.close {
    &.close-form {
        color: #000;
        font-size: 22px;
        padding-bottom: 10px;
        opacity: 1;
    }
}

.mandatory-label {
    display: block;
    font-size: 12px;
    font-style: italic;
    clear: both;
    margin-bottom: 8px;
}

.content-signin {
    min-height: 390px;
    &.content-signin-popup{
        min-height: 0;
    }
    .slogan-container {
        position: absolute;
        top: -64px;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        .slogan {
            font-size: 2.2rem;
        }
        .logged-in-user {
            font-size: 1.8rem;
            margin-bottom: 20px;
        }
    }
    .social-media-wraper {
        //display: table-cell;
        //vertical-align: middle;
    }
    .logged-in-container,
    .social-media-container {
        background-color: rgba(252, 252, 252, 0.8);
        border-radius: 0.6em;
        width: 89%;
        margin-left: auto;
        margin-right: auto;
    }
    .logged-in-container {
        padding: 15px 0;
        margin-top: 8em;
    }
    .social-media-container {
        padding: 15px 0 30px 0;
        .label {
            color: #000;
            padding-bottom: 15px;
            font-size: 13px;
        }
        .form-group {
            margin-bottom: 0;
        }
        .icon-button {
            opacity: 1;
            width: 68px;
            height: 70px;
            &.facebook {
                background-color: #3B5999 ;
            }
            &.google {
                background-color: #DD4B39;
            }
            &.form {
                background-color: #0AA5D5;
            }
        }
    }
}

.footer-form-modal {
    border-top: 1px solid #D8CDCD;
    .social-media-container {
        .col-xs-4,
        .col-xs-8 {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .icon-button {
        &.facebook,
        &.google {
            opacity: 1;
            width: 35px;
            padding-left: 0;
            padding-right: 0;
        }
        &.facebook {
            background-color: #3B5999 ;
        }
        &.google {
            background-color: #DD4B39;
        }
        &.form {
            background-color: #0AA5D5;
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #fcfcfc;
    .container-footer {
        margin-top: 12px;
        padding: 0 8px;
        .img-responsive {
            &.image-footer {
                width: 55px;
                display: inline;
            }
        }
    }
    .version-and-privacy {
        padding: 0;
        font-size: .9rem
    }
    .powered-by {
        padding: 0;
        span {
            font-size: 7px;
            font-weight: bold;
        }
    }
}

#formModal {
    .modal-dialog {
        margin-top: 50px;
    }
    .modal-content {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

#signup-form-wrapper {
    .date-of-birth {
        .col-xs-4 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#signinForm {
    #email:invalid {
        border: 1px solid #fd0000;
    }
    #email:valid {
        border: 1px solid #55bdf0;
    }
}

@media (max-width: 320px) {
    .footer {
        .container-footer {
            margin-top: 5px;
        }
    }
}
.logged-in-container{
    .col-xs-12.sign-in-button{
        padding: 0px 20px;
    }
}
.close-mark{
    float: right;
    font-size: 38px;
    line-height: 0.8;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    background: none;
    border: none;
    margin-top: -20px;
}

#signinForm input::-webkit-input-placeholder {
   font-style: italic;
}
#signinForm input:-moz-placeholder {
   font-style: italic;  
}
#signinForm input::-moz-placeholder {
   font-style: italic;  
}
#signinForm input:-ms-input-placeholder {  
   font-style: italic; 
}
#forgotForm input::-webkit-input-placeholder {
   font-style: italic;
}
#forgotForm input:-moz-placeholder {
   font-style: italic;  
}
#forgotForm input::-moz-placeholder {
   font-style: italic;  
}
#forgotForm input:-ms-input-placeholder {  
   font-style: italic; 
}
