.thankyou{
  h2{
  	color:#33cc99;
  	font-size:20px;
  }
  h3{
  	font-size:18px;
  	color:@theme-main;
    &.text-black{
      color: #000;
    }
  }
  h5{
    color:#33cc99;
  }
}
.receipt{
  margin: 0 -20px;
}
.receipt-summary{
	font-weight:bold;
	&.title-text{
		font-size:1.2em;
	}
}
canvas{
	margin:0 auto;
}
.receipt img{
  margin: 0 auto;
}

.boxed{
  padding: 10px;
  background: #fff;
  border:1px solid #cecece;
  border-radius: 8px;
  .boxed-title{
    padding: 0px 0px 24px 0px;
    border-bottom: 1px solid #cecece;
  }
}

.btn-paypal{
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #f9ca52 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#f9ca52)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f9ca52 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f9ca52 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f9ca52 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#f9ca52 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f9ca52',GradientType=0 ); /* IE6-9 */
  font-weight: bold;
  color:#263B80;
}
.row.counter{
  margin: 10px auto;
  .col-xs-12{
    margin:0;
    padding:0;
  }
}
.countdown{

}
.active-countdown{
  background:#109D58;
}
.danger-countdown{
  background:#BA0001;
}
.inactive-countdown{
  background:#DC4437;
}
#clock{
  text-align:center;
  font-weight:bold;
  color:#fff;
  .clock-block{
    width:64px;
    font-size:20px;
    padding:10px;
    display: inline-block;
  }
  .clock-content{

  }
  .clock-label{
    font-size:12px;
  }
}

#clock{
  text-align:center;
  .countdown-section{
    width:64px;
    font-size:20px;
    padding:10px;
    display: inline-block;
  }
  .countdown-period{
    display:block;
  }
  .countdown-period{
    font-size:12px;
  }
  &.no-luck{
    .countdown-section{
      background-color:#FA8686;
    }
  }
}

.lucky-number-wrapper{
  .col-xs-12{
    margin:0;
    padding:0;
  }
}
.lucky-number-row{
  .lucky-number-col{
    .lucky-number-container{
      padding:10px;
      font-size:16px;
      border-top:1px solid #dedede;
      font-weight:bold;
      &:hover{
        background: @theme-main;
        color:@theme-main-complimentary-2;
      }
      &:hover{
        cursor:pointer;
      }
    }
  }
  &:last-child{
    .lucky-number-container{
      border-bottom:1px solid #dedede;
    }
  }
}

.winning-number-wrapper{
  padding:10px;
  font-size:16px;
  background-color:#dedede;
  color:#aaa;
  width:60%;
  margin:20px auto;
}

.save-btn{
  margin:20px auto;
}
#numberModal{
  .modal-body{
    color:@theme-main;
  }
}
.where{
  button{
    margin: 20px auto;
  }
}
.reset-btn{
  padding: 6px 0;

  .fa-stack{
    width: 1em;
    height: auto;
    line-height: 0;
    .fa-stack-2x{
      font-size:24px;
      color:#fefefe;
      top:-12px;
    }
    .fa-stack-1x{
      color: #d9534f;
      font-size:12px;
      left:4px;
      top:6px;
    }
  }
}
.dropdown-menu{
  li{
    cursor:pointer;
  }
}
.catalogue-short-des{
  p{
    white-space: pre-wrap;
  }
}
.vertically-spaced{
  p{
    white-space: pre-wrap;
  }
}
.catalogue-top{
  &.catalogue-top-tenant{
    img{
      margin-top:27px;
    }
  }
  p{
    white-space: nowrap;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }
}
.side-margin-center{
  margin:0 auto;
}