/vendor
/bootstrap/compiled.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea
*.iml
.project
nbproject/

# Config
app/config/app.php
app/config/database.php
app/config/local/app.php
app/config/local/database.php
app/config/testing/app.php
app/config/testing/orbit.php
app/config/testing/database.php
app/config/testing/mail.php
app/config/testing/cache.php
app/config/orbit.php
app/config/mail.php
app/config/cache.php
app/config/queue.php
app/config/orbit-notifier.php
app/config/dynamic-listing.php
app/config/queue.php
app/config/oauth-4-laravel.php
public/mobile-ci/scripts/config.js
public/templatepos/js/config.js

# Uploads directory
public/uploads/**

# Environment
app/config/rio/**
orbit.env.php

# Laraeval config
app/config/packages/laraeval/laraeval/config.php

# Test vendor
vendor/fzaninotto/
vendor/laracasts/

#node_module
node_modules/

# Orbit Storage Session
app/storage/orbit-session/**

# Orbit Compiled Routes
app/routes/orbit-compiled-routes.php

# Trusted proxies config
app/config/packages/fideloper/proxy/config.php

# CI dev css
public/mobile-ci/stylesheet/orbit.lmp.mardi.css
public/mobile-ci/stylesheet/orbit.smv.mardi.css
public/mobile-ci/stylesheet/orbit.tks.mardi.css

public/mobile-ci/stylesheet/main.css
public/mobile-ci/stylesheet/orbit.lmp.sym.css
public/mobile-ci/stylesheet/orbit.smv.sym.css
public/mobile-ci/stylesheet/orbit.tks.sym.css

# Sitemap xml files
app/storage/*.xml
