<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         stopOnError="true"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Models">
            <directory>./app/tests/models/</directory>
        </testsuite>

        <testsuite name="Orbit ACL">
            <directory>./app/tests/acl</directory>
        </testsuite>

        <testsuite name="Orbit Uploader">
            <directory>./app/tests/uploader</directory>
        </testsuite>

        <testsuite name="Orbit API UUID Smoke Test">
            <directory>./app/tests/uuid</directory>
        </testsuite>

        <testsuite name="Mall Geolocation">
            <file>./app/tests/api/v1/mall/getSearchMallNearbyTest.php</file>
            <file>./app/tests/api/v1/mall/getMallAreaTest.php</file>
            <file>./app/tests/api/v1/mall/getMallFenceTest.php</file>
        </testsuite>

        <testsuite name="End-to-End">
            <directory>./app/tests/api/v1/end-to-end</directory>
        </testsuite>

        <testsuite name="Orbit 2.2">
            <directory>./app/tests/acl</directory>
            <directory>./app/tests/uploader</directory>
            <directory>./app/test/api/v1/end-to-end</directory>
            <file>./app/tests/api/v1/mall/getSearchMallNearbyTest.php</file>
            <file>./app/tests/api/v1/mall/getMallAreaTest.php</file>
            <file>./app/tests/api/v1/mall/getMallFenceTest.php</file>
            <file>./app/tests/api/v1/tenant/getTenantListAngularCITest.php</file>
            <file>./app/tests/api/v1/tenant/getTenantItemAngularCITest.php</file>
            <file>./app/tests/api/v1/category/getCategoryListAngularCITest.php</file>
            <file>./app/tests/api/v1/object/getObjectListAngularCITest.php</file>
            <file>./app/tests/api/v1/coupon/getCouponListAngularCITest.php</file>
            <file>./app/tests/api/v1/widget/getSearchWidgetTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
