<?php
/**
 * Config for dynamics icon and slideshow
 */
return array(
    'icons' => array(
        '0' => array(
            'widget_id' => 'icon1',
            'widget_type' => 'landing_page',
            'widget_order' => 1,
            'merchant_id' => 0,
            'widget_label' => 'Home',
            'widget_slogan' => 'Home',
            'widget_url' => '#!/',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => '',
            'widget_image_menu_class' => 'fa fa-home',
            'status' => 'active',
            'enable_on_mainpage' => false,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '1' => array(
            'widget_id' => 'icon2',
            'widget_type' => 'landing_page',
            'widget_order' => 2,
            'merchant_id' => 0,
            'widget_label' => 'Map',
            'widget_slogan' => 'Map',
            'widget_url' => '#!/map',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'gtm-icon gtm-icon-map',
            'widget_image_menu_class' => 'fa fa-map',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '2' => array(
            'widget_id' => 'icon3',
            'widget_type' => 'landing_page',
            'widget_order' => 3,
            'merchant_id' => 0,
            'widget_label' => 'Discover',
            'widget_slogan' => 'Discover',
            'widget_url' => '#!/discover?keyword=&category=all',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-search fa-4x',
            'widget_image_menu_class' => 'fa fa-search',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '3' => array(
            'widget_id' => 'icon4',
            'widget_type' => 'landing_page',
            'widget_order' => 4,
            'merchant_id' => 0,
            'widget_label' => 'Malls',
            'widget_slogan' => 'Malls',
            'widget_url' => '#!/malls',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-building fa-4x',
            'widget_image_menu_class' => 'fa fa-building',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '4' => array(
            'widget_id' => 'icon5',
            'widget_type' => 'landing_page',
            'widget_order' => 5,
            'merchant_id' => 0,
            'widget_label' => 'Stores',
            'widget_slogan' => 'Stores',
            'widget_url' => '#!/stores',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-shopping-cart fa-4x',
            'widget_image_menu_class' => 'fa fa-shopping-cart',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '5' => array(
            'widget_id' => 'icon6',
            'widget_type' => 'landing_page',
            'widget_order' => 6,
            'merchant_id' => 0,
            'widget_label' => 'Promotions',
            'widget_slogan' => 'Promotions',
            'widget_url' => '#!/promotions',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-gift fa-4x',
            'widget_image_menu_class' => 'fa fa-gift',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '6' => array(
            'widget_id' => 'icon7',
            'widget_type' => 'landing_page',
            'widget_order' => 7,
            'merchant_id' => 0,
            'widget_label' => 'News',
            'widget_slogan' => 'News',
            'widget_url' => '#!/news',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'gtm-icon gtm-icon-news',
            'widget_image_menu_class' => 'fa fa-newspaper-o',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '7' => array(
            'widget_id' => 'icon8',
            'widget_type' => 'landing_page',
            'widget_order' => 8,
            'merchant_id' => 0,
            'widget_label' => 'Coupons',
            'widget_slogan' => 'Coupons',
            'widget_url' => '#!/coupons',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-ticket fa-4x',
            'widget_image_menu_class' => 'fa fa-ticket',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '8' => array(
            'widget_id' => 'icon9',
            'widget_type' => 'landing_page',
            'widget_order' => 9,
            'merchant_id' => 0,
            'widget_label' => 'Lucky Draws',
            'widget_slogan' => 'Lucky Draws',
            'widget_url' => '#!/luckydraws',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'gtm-icon gtm-icon-luckydraws',
            'widget_image_menu_class' => 'gtm-icon gtm-icon-luckydraws-s',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '9' => array(
            'widget_id' => 'icon10',
            'widget_type' => 'landing_page',
            'widget_order' => 10,
            'merchant_id' => 0,
            'widget_label' => 'PokéMAPS<sup>TM</sup>',
            'widget_slogan' => 'PokéMAPS<sup>TM</sup>',
            'widget_url' => '#!/games/pokestops',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'gtm-icon gtm-icon-pokemaps',
            'widget_image_menu_class' => 'gtm-icon gtm-icon-pokemaps-s',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '10' => array(
            'widget_id' => 'icon11',
            'widget_type' => 'landing_page',
            'widget_order' => 11,
            'merchant_id' => 0,
            'widget_label' => 'Blog',
            'widget_slogan' => 'Blog',
            'widget_url' => 'https://mall-api-v27.gotomalls.cool/api/v1/pub/url-redirector?X-Orbit-App-Origin=landing_page&type=blog',
            'widget_image_url' => '',
            'widget_image_menu_url' => '',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-book',
            'widget_image_menu_class' => 'fa fa-book',
            'status' => 'active',
            'enable_on_mainpage' => false,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        )
    ),

    'slideshow' => array(
        '0' => array(
            'widget_id' => 'slide1',
            'widget_type' => 'image_slideshow',
            'widget_order' => 1,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => '',
            'widget_image_url' => 'images/slides/sequence-slide-1.4de30bac.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 1,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '1' => array(
            'widget_id' => 'slide2',
            'widget_type' => 'image_slideshow',
            'widget_order' => 2,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => '',
            'widget_image_url' => 'images/slides/sequence-slide-2.b8e06e51.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 1,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '2' => array(
            'widget_id' => 'slide3',
            'widget_type' => 'image_slideshow',
            'widget_order' => 3,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => '',
            'widget_image_url' => 'images/slides/sequence-slide-3.e67621d5.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 1,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '3' => array(
            'widget_id' => 'slide4',
            'widget_type' => 'image_slideshow',
            'widget_order' => 4,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://cinerebellevue.gotomalls.com/customer/mallpromotion?id=Ku5dodvWvxoauF6d',
            'widget_image_url' => 'images/slides/slide-1.36fcdcfa.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 0,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '4' => array(
            'widget_id' => 'slide5',
            'widget_type' => 'image_slideshow',
            'widget_order' => 5,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://lmp.gotomalls.com/customer/mallpromotion?id=Ksx6StvWvm0AvQ2M',
            'widget_image_url' => 'images/slides/slide-3.6594af96.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 0,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '5' => array(
            'widget_id' => 'slide6',
            'widget_type' => 'image_slideshow',
            'widget_order' => 6,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://beachwalkbali.gotomalls.com/customer/mallpromotion?id=KtvyjpLOVJKecJhX',
            'widget_image_url' => 'images/slides/slide-4.d486e774.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 0,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '6' => array(
            'widget_id' => 'slide7',
            'widget_type' => 'image_slideshow',
            'widget_order' => 7,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://transmartcilandak.gotomalls.com/customer/mallnewsdetail?id=Ku4iK4LOVUdsAV2t',
            'widget_image_url' => 'images/slides/slide-2.fe04d434.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'not_random' => 0,
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        )
    )
);