<?php
/**
 * Config for dynamics icon and slideshow
 */
return array(
    'icons' => array(
        '0' => array(
            'widget_id' => 'icon1',
            'widget_type' => 'landing_page',
            'widget_order' => 1,
            'merchant_id' => 0,
            'widget_label' => 'Home',
            'widget_slogan' => 'Home',
            'widget_url' => '#/',
            'widget_image_url' => '#/',
            'widget_image_menu_url' => '#/',
            'widget_image_type' => 'web-font',
            'widget_image_class' => '',
            'widget_image_menu_class' => 'fa fa-home',
            'status' => 'active',
            'enable_on_mainpage' => false,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '1' => array(
            'widget_id' => 'icon2',
            'widget_type' => 'landing_page',
            'widget_order' => 2,
            'merchant_id' => 0,
            'widget_label' => 'Map',
            'widget_slogan' => 'Map',
            'widget_url' => '#/map',
            'widget_image_url' => '#/map',
            'widget_image_menu_url' => '#/map',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-map-o fa-4x',
            'widget_image_menu_class' => 'fa fa-map',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '2' => array(
            'widget_id' => 'icon3',
            'widget_type' => 'landing_page',
            'widget_order' => 3,
            'merchant_id' => 0,
            'widget_label' => 'Discover',
            'widget_slogan' => 'Discover',
            'widget_url' => '#/discover',
            'widget_image_url' => '#/discover',
            'widget_image_menu_url' => '#/discover',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-compass fa-4x',
            'widget_image_menu_class' => 'fa fa-compass',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '3' => array(
            'widget_id' => 'icon4',
            'widget_type' => 'landing_page',
            'widget_order' => 4,
            'merchant_id' => 0,
            'widget_label' => 'Malls',
            'widget_slogan' => 'Malls',
            'widget_url' => '#/malls',
            'widget_image_url' => '#/malls',
            'widget_image_menu_url' => '#/malls',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-building fa-4x',
            'widget_image_menu_class' => 'fa fa-building',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '4' => array(
            'widget_id' => 'icon5',
            'widget_type' => 'landing_page',
            'widget_order' => 5,
            'merchant_id' => 0,
            'widget_label' => 'Stores',
            'widget_slogan' => 'Stores',
            'widget_url' => '#/stores',
            'widget_image_url' => '#/stores',
            'widget_image_menu_url' => '#/stores',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-shopping-cart fa-4x',
            'widget_image_menu_class' => 'fa fa-shopping-cart',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        ),
        '4' => array(
            'widget_id' => 'icon6',
            'widget_type' => 'landing_page',
            'widget_order' => 6,
            'merchant_id' => 0,
            'widget_label' => 'PokéMAPS<sup>TM</sup>',
            'widget_slogan' => 'PokéMAPS',
            'widget_url' => '#/games/pokestops',
            'widget_image_url' => '#/games/pokestops',
            'widget_image_menu_url' => '#/games/pokestops',
            'widget_image_type' => 'web-font',
            'widget_image_class' => 'fa fa-map-pin fa-4x',
            'widget_image_menu_class' => 'fa fa-map-pin',
            'status' => 'active',
            'enable_on_mainpage' => true,
            'enable_on_menu' => true,
            'created_at' => '2016-08-16 20:00:00'
        )
    ),

    'slideshow' => array(
        '0' => array(
            'widget_id' => 'slide1',
            'widget_type' => 'image_slideshow',
            'widget_order' => 1,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://cinerebellevue.gotomalls.com/customer/mallpromotion?id=Ku5dodvWvxoauF6d',
            'widget_image_url' => 'images/slides/slide-1.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '1' => array(
            'widget_id' => 'slide2',
            'widget_type' => 'image_slideshow',
            'widget_order' => 2,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://transmartcilandak.gotomalls.com/customer/mallnewsdetail?id=Ku4iK4LOVUdsAV2t',
            'widget_image_url' => 'images/slides/slide-2.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '2' => array(
            'widget_id' => 'slide3',
            'widget_type' => 'image_slideshow',
            'widget_order' => 3,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://lmp.gotomalls.com/customer/mallpromotion?id=Ksx6StvWvm0AvQ2M',
            'widget_image_url' => 'images/slides/slide-3.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '3' => array(
            'widget_id' => 'slide4',
            'widget_type' => 'image_slideshow',
            'widget_order' => 4,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://beachwalkbali.gotomalls.com/customer/mallpromotion?id=KtvyjpLOVJKecJhX',
            'widget_image_url' => 'images/slides/slide-4.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '4' => array(
            'widget_id' => 'slide5',
            'widget_type' => 'image_slideshow',
            'widget_order' => 5,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://arthagading.gotomalls.com/customer/mallpromotion?id=KuBBE4LOVFZ1lj25&name=float-treat-baskin-robbins',
            'widget_image_url' => 'images/slides/slide-5.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '5' => array(
            'widget_id' => 'slide6',
            'widget_type' => 'image_slideshow',
            'widget_order' => 6,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://pasarayablokm.gotomalls.com/customer/mallpromotion?id=KsX21OvWvwwdtyPa&name=proud-to-have-batik-indonesiapunya',
            'widget_image_url' => 'images/slides/slide-7.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        ),
        '6' => array(
            'widget_id' => 'slide7',
            'widget_type' => 'image_slideshow',
            'widget_order' => 7,
            'merchant_id' => 0,
            'widget_label' => '',
            'widget_slogan' => '',
            'widget_url' => 'https://taminisquare.gotomalls.com/customer/mallpromotion?id=KsS3rpLOVTW48DIL&name=tamini-fun-trip',
            'widget_image_url' => 'images/slides/slide-8.jpg',
            'widget_image_type' => 'image',
            'widget_image_class' => '',
            'status' => 'active',
            'created_at' => '2016-08-16 20:00:00'
        )
    )
);