<?php
/**
 * Notifier Configuration.
 *
 * This file contains list of URL which need to be notified when event happens
 * on Orbit. In the future this setting should be on database.
 */
return [
    'user-agent' => 'Orbit API Notifier/1',

    // Notifiy when customer login to check their membership number
    'user-login' => [

        // Retailer/Mall ID (string)
        '0' => [
            'url' => 'http://dummy.url/orbit-notify/v1/check-member',
            'auth_type' => '',
            'auth_user' => '',
            'auth_password' => '',
            'notify_order' => 0,

            // 1=enabled or 0=disabled
            'enabled' => 1,

            // How long job will be release back onto the queue in seconds
            'release_time' => 300,

            // How many times we need to try before we delete the job
            'max_try' => 5,

            // Should we send email to notify that the job is failed?
            'email_on_failed' => FALSE,

            // Email address to send on job failed
            'email_addr' => [
                'Admin' => 'backend@dominopos.com'
            ]
        ],

    ],

    // Notifiy when customer data has been updated
    'update-member' => [

        // Retailer/Mall ID (string)
        '0' => [
            'url' => 'http://dummy.url/orbit-notify/v1/check-member',
            'auth_type' => '',
            'auth_user' => '',
            'auth_password' => '',
            'notify_order' => 0,

            // 1=enabled or 0=disabled
            'enabled' => 1,

            // How long job will be release back onto the queue in seconds
            'release_time' => 300,

            // How many times we need to try before we delete the job
            'max_try' => 5,

            // Should we send email to notify that the job is failed?
            'email_on_failed' => FALSE,

            // Email address to send on job failed
            'email_addr' => [
                'Admin' => 'backend@dominopos.com'
            ]
        ],

    ],

    // Notifiy when receipt data has been submitted
    'lucky-draw-number' => [

        // Retailer/Mall ID (string)
        '0' => [
            'url' => 'http://dummy.url/orbit-notify/v1/check-member',
            'auth_type' => '',
            'auth_user' => '',
            'auth_password' => '',
            'notify_order' => 0,

            // 1=enabled or 0=disabled
            'enabled' => 1,

            // How long job will be release back onto the queue in seconds
            'release_time' => 300,

            // How many times we need to try before we delete the job
            'max_try' => 5,

            // Should we send email to notify that the job is failed?
            'email_on_failed' => FALSE,

            // Email address to send on job failed
            'email_addr' => [
                'Admin' => 'backend@dominopos.com'
            ]
        ],

    ],
];