/**
 * Default configuration for Mobile CI. It get the protocol and domain name
 * from current browsed page.
 *
 * @author Rio Astamal <me@rioastamal.net>
 */
function orbitGetBaseUrl() {
   var http = location.protocol;
   var slashes = http.concat("//");
   var host = slashes.concat(window.location.hostname);

   return host;
}

function orbitGetDomainName() {
	var autodetect = true;
	var baseDomain = 'myorbit.com';

	if (autodetect) {
        var parts = location.hostname.split('.');
        var subdomain = parts.shift();
        var upperleveldomain = parts.join('.');
        
        baseDomain = parts.slice(-2).join('.');
    }

    return baseDomain;
}

var apiPath = orbitGetBaseUrl() + '/app/v1/';
var homePath = orbitGetBaseUrl() + '/customer/home';
