/**
 * Default configuration for Mobile CI. It get the protocol and domain name
 * from current browsed page.
 *
 * @author Rio Astamal <me@rioastamal.net>
 */
function orbitGetBaseUrl() {
   var http = location.protocol;
   var slashes = http.concat("//");
   var host = slashes.concat(window.location.hostname);

   return host;
}

var apiPath = orbitGetBaseUrl() + '/app/v1/';
var homePath = orbitGetBaseUrl() + '/customer/home';
