@bootstrap-brand-info: #FC474F;
@theme-main: #FC474F;
@theme-main-complimentary: #C1383E;
@theme-main-complimentary-2: #FFFFFF;
@theme-main-complimentary-3: #9C262B; // search tool bg color
@theme-main-complimentary-4: #FC474F;
@theme-main-gray: #CCCCCC;
@theme-main-info-1: #33CC99;
@theme-main-info-2: #FFAC41;
@theme-delete: #C70202;
@theme-main-family-1: #000000;
@theme-main-family-2: #4a4a4a;
@theme-main-family-3: #7A7A7A;
@theme-main-family-4: #AAAAAA;
@theme-main-family-5: #DADADA;