@bootstrap-brand-info: #111111;
@theme-main: #111111;
@theme-main-complimentary: #444444;
@theme-main-complimentary-2: #FFFFFF;
@theme-main-complimentary-3: #888888; // search tool bg color
@theme-main-complimentary-4: #111111;
@theme-main-gray: #CCCCCC;
@theme-main-info-1: #33CC99;
@theme-main-info-2: #111111;
@theme-delete: #C70202;
@theme-main-family-1: #000000;
@theme-main-family-2: #4a4a4a;
@theme-main-family-3: #7A7A7A;
@theme-main-family-4: #AAAAAA;
@theme-main-family-5: #DADADA;